html {
    background-image: url("./background.JPG");
    background-position-y: 60%;
    background-repeat: no-repeat;
}

body {
    background-color: rgba(240, 212, 175, 0.644);

    height: 50%;
    width: 60%;
    text-align: center;

    margin-left: 20%;
    margin-right: 20%;
}

h1 {
    font-size: 50px;
    font-style: italic;
}

p {
    font-size: 30px;
    font-style: italic;
}